{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
        <a class="navbar-brand" href="#">Evidencija studenata</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('Studenti')}}">Studenti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('Predmeti')}}">Predmeti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('Korisnici')}}">Korisnici</a>
                </li>
            </ul>
            <div class="text-right">
                <a href="{{url_for('Logout')}}" class="icon-btn text-warning"  role="button"><i class="fas fa-sign-out-alt text-white"></i></a>
            </div>
        </div>
    </nav>

<div class="container">
    <div class="row my-5">
        <div class="col-xs-12 col-md-6">
            {%with messages = get_flashed_messages()%}
              {%if messages%}
              {% for message in messages %}
              <div class="alert alert-success alert-dismissable" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label ="close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  {{message}}
              </div>
              {%endfor%}
              {%endif%}
              {%endwith%}
            <table class="table">
                <tbody>
                    <tr>
                        <th>Ime</th>
                        <td>{{student.ime}}</td>
                    </tr>
                    <tr>
                        <th>Ime roditelja</th>
                        <td>{{student.ime_roditelja}}</td>
                    </tr>
                    <tr>
                        <th>Prezime</th>
                        <td>{{student.prezime}}</td>
                    </tr>
                    <tr>
                        <th>Broj indeksa</th>
                        <td>{{student.broj_indeksa}}</td>
                    </tr>
                    <tr>
                        <th>Godina studija</th>
                        <td>{{student.godina_studija}}</td>
                    </tr>

                    <tr>
                        <th>Broj telefona</th>
                        <td>{{student.broj_telefona}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{student.email}}</td>
                    </tr>
                    <tr>
                        <th>Datum rodjenja</th>
                        <td>{{student.datum_rodjenja}}</td>
                    </tr>

                    <tr>
                        <th>JMBG</th>
                        <td>{{student.jmbg}}</td>
                    </tr>

                    <tr>
                        <th>Ukupno ESPB</th>
                        <td>{{student.espb}}</td>
                    </tr>
                    <tr>
                        <th>Prosek ocena</th>
                        <td>{{student.prosek_ocena}}</td>
                    </tr>
                    <tr>
                        <th>Akcije</th>
                        <td>

                            <a href="/student/{{student.id}}" class="icon-btn text-warning" data-toggle="modal" data-target="#modaledit{{student.id}}" role="button"><i class="fas fa-edit"></i></a>
                            <a href="/student_brisanje/{{student.id}}" onclick="return confirm('Da li ste sigurni da želite da obrišete navedenog studenta?')" class="icon-btn text-danger" role="button"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                     <div id="modaledit{{student.id}}" class="modal fade" role="dialog">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <!-- Modal Header -->
                                  <div class="modal-header">
                                    <h4 class="modal-title">Student - izmena</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  </div>
                                  <!-- Modal body -->
                                  <div class="modal-body">
                                    <form action="{{url_for('StudentIzmena')}}" method="POST">
                                        <div class="form-group">
                                            <label for="BrojIndeksa">Broj indeksa</label>
                                            <input type="hidden" name="id" value="{{student.id}}">
                                            <input type="text" class="form-control" name="broj_indeksa" id="broj_indeksa" value="{{student.broj_indeksa}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="FirstName">Ime</label>
                                            <input type="text" class="form-control" name="ime" id="ime" value="{{student.ime}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="ParrentName">Ime roditelja</label>
                                            <input type="text" class="form-control" name="ime_roditelja" id="ime_roditelja" value="{{student.ime_roditelja}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="LastName">Prezime</label>
                                            <input type="text" class="form-control" name="prezime" id="prezime" value="{{student.prezime}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email</label>
                                            <input type="email" class="form-control" name="email" id="email" value="{{student.email}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="PhoneNumber">Broj telefona</label>
                                            <input type="tel" class="form-control" name="broj_telefona" id="broj_telefona" value="{{student.broj_telefona}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="StudyNumber">Godina studija</label>
                                            <input type="number" class="form-control" name="godina_studija" id="godina_studija" value="{{student.godina_studija}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="DateBirth">Datum rođenja</label>
                                            <input type="date" class="form-control" name="datum_rodjenja" id="datum_rodjenja" value="{{student.datum_rodjenja}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="JMBG">JMBG</label>
                                            <input type="text" class="form-control" name="jmbg" id="jmbg" value="{{student.jmbg}}">
                                        </div>
                                        <input type="submit" class="btn btn-primary text-white" value="Sačuvaj">
                                    </form>
                                  </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Otkaži</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tbody>
            </table>
        </div>

        <div class="col-xs-12 col-md-6">
            <form action="{{url_for('Nova_Ocena', id=student.id)}}" method="POST">
                <div class="form-group">
                    <label for="predmet">Predmet</label>
                    <select class="form-control" id="predmet" name="predmet_id">
                        {% for predmet in predmeti %}
                        <option value={{predmet.id}}>{{predmet.naziv}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="ocena">Ocena</label>
                    <input type="number" class="form-control" id="ocena" name="ocena">
                </div>
                <div class="form-group">
                    <label for="datum">Datum</label>
                    <input type="date" class="form-control" id="datum" name="datum">
                </div>
                <button type="submit" class="btn btn-primary">Sačuvaj</button>
            </form>
        </div>
    </div>

        <div class='row justify-content-center'>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Šifra predmeta</th>
                        <th scope="col">Naziv predmeta</th>
                        <th scope="col">Godina studija</th>
                        <th scope="col">ESPB</th>
                        <th scope="col">Status predmeta</th>
                        <th scope="col">Ocena</th>
                        <th scope="col">Akcije</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ocena in ocene %}
                    <tr>
                        <td>{{ ocena.sifra }}</td>
                        <td>{{ ocena.naziv }}</td>
                        <td>{{ ocena.godina_studija }}</td>
                        <td>{{ ocena.espb }} </td>
                        <td>{{ ocena.izbor }}</td>
                        <td>{{ ocena.ocena }}</td>
                        <td>
                            <a class="icon-btn text-danger" href="{{url_for('Ocena_Brisanje', student_id=student.id, ocena_id=ocena.id)}}" role="button" onclick="return confirm('Da li ste sigurni da želite da obrišete navedenu ocenu?')"><i style="margin-left: 1.1em" class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
</div>


    
{% endblock %}